body {
    background-image:url("icecream3.png");
}
h1 {
    font-family: 'Cabin Sketch', cursive;
    color: dimgray;
    text-align: center;
    font-size: 75px;
    margin-bottom: 0;
}
header {
    width: auto;
    background-image: rgba(255, 255, 255);
    border-top: thistle double 5px;
    border-bottom: thistle double 5px;
    margin-bottom: 1%;
    text-align: center;
}
span{
    font-family: 'Lily Script One', cursive;
    font-size: 25px;
    color: rgb(143, 96, 143);
    font:bolder;
}
h3{
    font-family: 'Lily Script One', cursive;
    color: rgb(120, 54, 120);
    margin-top: 10%;
    font-size: 200%;
    text-transform: capitalize;
}
h2 {
    font-family: 'Cabin Sketch', cursive;
    color: white;
    text-align: center;
    background-color: rgb(199, 169, 233);
    display: inline-block;
    width: auto;
    border: 8px solid transparent;
    border-radius: 8px;
    margin-left: 5%;
}

.wordContainer{
height:20%;
}

.letterDiv{
    display: inline-block;
    width:5%;
    height: 20%;
    margin:0 0 5px 5px;
    border-bottom: 5px solid black;
    position:relative;
    
}

p{
    color:black;
    text-align: center;
    font-size:200%;
    font-family: 'Walter Turncoat', cursive;
    border-radius:30%;
    visibility: hidden;
    position:absolute;
    bottom: 0;
    margin:0;

}
input {
    font-family: 'Cabin Sketch', cursive;
    margin-bottom: 5px;
    border-radius:4px;
}

.white{
    color:white;
}
.playersContainer {
    background-color: rgba(226, 214, 231, 0.9);
    padding: 5px;
    width:50%;
    border: seashell 5px ridge;
    text-align: center;
}
.icecreamCone{
    width: 35%;
    border: seashell 5px ridge;
    background-color: rgba(226, 214, 231, 0.9);
    margin-right: 5%;
}
.stem {
    width: 3px;
    height: 15px;
    background: rgb(52, 104, 52);
    margin:0 auto;
  }
.cherry {
    width: 18px;
    height: 18px;
    background: radial-gradient(rgb(243, 109, 109),rgb(223, 67, 67)) ;
    border-radius: 50%;
    margin:0 auto;
  }
  .cream1 {
    width: 30px;
    height: 10px;
    background: linear-gradient(rgb(231, 223, 216), seashell);
    border-radius: 100px / 50px;
    margin:0 auto;
  }
  .cream2 {
    width: 40px;
    height: 10px;
    background: linear-gradient(rgb(231, 223, 216), seashell);
    border-radius: 100px / 50px;
    margin:0 auto;
  }
  .scoop1{
    width: 90px;
    height: 60px; 
    background: radial-gradient(hsl(341, 56%, 89%),rgb(235, 174, 168),rgb(232, 150, 142)) ;
    border-top-left-radius: 110px;  
    border-top-right-radius: 110px; 
    border-bottom: 0; 
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin:0 auto;
  }
  .scoop2 {
    width: 115px;
    height: 75px; 
    background: radial-gradient(rgb(247, 241, 237),rgb(238, 221, 196)) ;
    border-top-left-radius: 110px;  
    border-top-right-radius: 110px; 
    border-bottom: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin:0 auto;
  }
  .scoop3 {
    width: 130px;
    height: 75px; 
    background: radial-gradient(rgb(241, 204, 177),rgb(162, 87, 21)) ;
    border-top-left-radius: 110px;  
    border-top-right-radius: 110px; 
    border-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin:0 auto;
  }
.cone {
	width: 0;
	height: 0;
	border-left: 65px solid transparent;
	border-right: 65px solid transparent;
    border-top: 200px solid #d3b178;
    margin:0 auto;
}
.entireGame {
    display: flex;
    justify-content: center;
}
#p1name {
    margin-top: 3%;
    height:50px;
    width: 40%;
    font-size: 100%;
    text-align: center;
}
#p2name {
    margin-top: 1%;
    margin-bottom: 2%;
    height:50px;
    width: 40%;
    font-size: 100%;
    text-align: center;
}
#submitPlayers {
    height:50px;
    width: 40%;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 150%;
    background: radial-gradient(rgb(143, 96, 143),#703e86) ;
    border-radius: 8px;
}
#submitPlayers:hover{
    background:rgb(183, 139, 227);
}

html #inlineFormInputName2 {
    height:50px;
    width: 200px;
    font-size: 30px;
    text-align: center;
   
}

html .form1{
    display: flex;
    justify-content: center;
}

html #submitWord {
    height:50px;
    width: 200px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    background: radial-gradient(rgb(143, 96, 143),#703e86) ;
    border-radius: 8px;
    margin-bottom: 0;
}

html #submitWord:hover {
    background:rgb(183, 139, 227);
}
#submitClue {
    height:50px;
    width: 200px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    background: radial-gradient(rgb(143, 96, 143),#703e86) ;
    border-radius: 8px;
}
#submitClue:hover {
    background:rgb(183, 139, 227);
}
.letterField {
    height:50px;
    width: 100px;
    font-size: 100%;
    text-align: center;
}
#submitLetter {
    height:50px;
    width: 125px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
    background: radial-gradient(rgb(143, 96, 143),#703e86) ;
    border-radius: 8px;
}
#submitLetter:hover {
    background:rgb(183, 139, 227);
}

.transparent {
    background-color: transparent;
    background: transparent;
}
.fas{
    color: rgb(143, 96, 143);
}
.banner {
    color:white;
    font-size: 30px;
    font-family: 'Lily Script One', cursive;
    width: auto;
    background-color:rgb(245, 129, 129);
    border-radius:8px;
    text-align: center;
    margin:0 auto;
    text-transform: capitalize;
}
.clue{
    width:auto;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(128, 62, 128);
    width: auto;
    display: none;
    margin: 0 auto;
    border-color:transparent;
    border-radius: 8px;
}

.visibility{
visibility: visible;
}
#ins{
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-top: 1px;
    background-color: rgba(240, 223, 243, 0.4);
}
footer{
    font-family: 'Lily Script One', cursive;
    font-size: 25px;
    color:rgb(15, 13, 13);
    text-align: right;
    margin-right: 5%;
}
html .secret{
    visibility: hidden;
}
html .alert {
    background: radial-gradient(rgb(255, 175, 175), rgb(254, 145, 145));
    display: inline-block;
    width: auto;
    color: white;
    font-weight: bolder;
}
html .secret2{
    display: none;
}
nav {
    display: flex;
    justify-content: left;
}
html .btn-primary {
    background: radial-gradient(rgb(143, 96, 143),#703e86);
    font-family: 'Cabin Sketch', cursive;
    font-size: 150%;
    border: #703e86;
    margin-top: 3%;
}
html .directions {
    margin-bottom: 1%;
    background: radial-gradient(rgb(255, 175, 175), rgb(254, 145, 145));
    border: rgb(235, 142, 142);
    margin-left: 5%;
}

html .btn-primary:hover {
    background: rgb(183, 139, 227) !important;
}
html #inputPassword2{
    font-size:30px;
}

html #form2 {
    width: 40%;
    margin: 0 auto;
}

html .modal-title {
    font-family: 'Lily Script One', cursive;
    color:#703e86;
}
html #p1name{
    text-transform: capitalize;
}

h5 {
    font-size: 30px;
    width:auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-color:rgb(182, 136, 182);
    font-family: 'Cabin Sketch', cursive;
    color: rgb(143, 96, 143);
    border-radius: 8px; 
    margin-top: 1%;
}

.invisible{
    visibility: hidden;
}
.modeButtonsContainer {
    margin-top: 10%;
}
/* used the following links for guidance on how to make shapes for the icecream cone */
/*https://css-tricks.com/the-shapes-of-css/*/
/*https://stackoverflow.com/questions/22415651/half-circle-with-css-border-outline-only*/
/* background image: Brooke Lark https://pixabay.com/illustrations/icecream-background-dessert-summer-993678/ */